<!DOCTYPE html>
<html>
<head>
    <title>Aggiorna Squadra</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
        <h1>Aggiorna Squadra</h1>
    </header>
    	<div class="logo-container">
    <img src="/images/logo-siw.png" class="logo"/>
</div>
<div class="page-content">
    <form th:action="@{/admin/formUpdateTeamDetails/{id}(id=${team.id})}" method="post" th:object="${team}">
        <input type="hidden" th:field="*{id}" />
        
        <label for="name">Nome Squadra:</label>
        <input type="text" id="name" th:field="*{name}" required />
        
        <label for="foundationYear">Anno di Fondazione:</label>
        <input type="number" id="foundationYear" th:field="*{foundationYear}" required />
        
        <label for="address">Indirizzo:</label>
        <input type="text" id="address" th:field="*{address}" required />
        
        <label for="presidentFirstName">Nome Presidente:</label>
        <input type="text" id="presidentFirstName" th:field="*{president.firstName}" required />
        
        <label for="presidentLastName">Cognome Presidente:</label>
        <input type="text" id="presidentLastName" th:field="*{president.lastName}" required />

        <button type="submit">Aggiorna Squadra</button>
    </form>

    <footer>
        <a href="/admin/indexTeams">Torna al Pannello di Amministrazione</a>
    </footer>
   </div>
</body>
</html>
