<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Player Form</title>
</head>
<body>
    <h1>New Player</h1>
    <form th:action="@{/president/formNewPlayer}" th:object="${player}" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
        <br/>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
        <br/>

        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" />
        <br/>

        <label for="placeOfBirth">Place of Birth:</label>
        <input type="text" id="placeOfBirth" th:field="*{placeOfBirth}" />
        <br/>

        <label for="role">Role:</label>
        <input type="text" id="role" th:field="*{role}" />
        <br/>

        <!-- Rimosso il campo teamId -->

        <button type="submit">Save Player</button>
    </form>
</body>
</html>
