/* Stili generali */
body { 
    font-family: "Geneva", sans-serif;
    color: dimgrey;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Link */
a { 
    text-decoration: none; 
    color: darkgrey;
}

a:hover { 
    text-decoration: underline; 
}

/* Etichette */
label {
    width: 8em;
    display: inline-block;
}

/* Barra di intestazione */
header {
    background-color: rgb(181, 51, 9); /* Barra rossa */
    color: white;
    height: 4em;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end; /* Sposta gli elementi a destra */
    align-items: center; /* Allinea verticalmente al centro */
    border-radius: 0 0 15px 15px; /* Angoli tondeggianti ai lati inferiori */
    position: relative; /* Necessario per il posizionamento del logo */
}

header .auth-links {
    display: flex;
    gap: 1em; /* Spazio tra i link */
}

/* Stile per la selezione */
select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

option {
    padding: 0.5em;
}

/* Stile del logo */
.logo-container {
    text-align: center; /* Centra l'immagine orizzontalmente */
    position: relative; /* Necessario per posizionare il logo sopra la barra */
    margin-top: -2em; /* Sposta il logo verso l'alto */
    margin-bottom: 2em; /* Maggiore spazio sotto l'immagine */
}

img.logo {
    width: 10%; /* Dimensione medio-piccola del logo */
    border-radius: 50%; /* Rende il logo tondeggiante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra per effetto 3D */
}

/* Stili per contenitori generali */
.container {
    max-width: 1200px;
    margin: 0 auto; /* Centra il contenuto orizzontalmente */
    padding: 1em;
}

/* Spaziatura per i contenuti sotto la barra */
.page-content {
    margin-left: 1em; /* Distanza dal bordo sinistro */
}

/* Aggiungi margine inferiore ai div all'interno di .page-content */
.page-content div {
    margin-bottom: 1.5em; /* Spazio tra gli elementi div */
}

/* Stile della tabella */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

thead {
    background-color: rgb(181, 51, 9); /* Colore di sfondo per l'intestazione della tabella */
    color: white;
}

th, td {
    padding: 0.75em;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

/* Stile del messaggio di errore */
.error-message {
    color: red;
    margin-bottom: 1em;
}

header .admin-home {
    color: darkgray;
    text-decoration: none; /* Nessuna sottolineatura di default */
    font-size: 1em;
    margin-right: auto; /* Spinge il link verso il lato sinistro */
}

header .admin-home:hover {
    text-decoration: underline; /* Sottolineatura quando il mouse è sopra */
}

.page-register {
    margin-left: 1em; /* Distanza dal bordo sinistro */
    
}