<!DOCTYPE html>
<html>

<head>
    <title>SiwSportsTeam - Homepage</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <header>
        <!-- Mostra nome utente e Logout se autenticato -->
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        
        <!-- Mostra Login e Registrati se non autenticato -->
        <div th:unless="${userDetails}" class="auth-links">
            <a th:href="@{/login}" th:text="Login">Login</a>
            <!-- <a th:href="@{/register}" th:text="Registrati">Registrati</a> -->
        </div>
    </header>

    <div class="logo-container">
        <img src="/images/logo-siw.png" class="logo"  />
    </div>

    <div class="page-content">
        <h1>Consulta Squadre</h1>
        <div class="paragraph">
        <div class="teams-container">
            <a href="/teams" class="teams-link">Elenco Squadre</a>
        </div>
        </div>
        <div class="paragraph">
        <div class="president-info">
            <p>Sei un presidente?</p>
            <a href="/login" class="president-login-link">Accedi</a>
        </div>
       </div> 
    </div>
</body>

</html>
