<!DOCTYPE html>
<html>

<head>
    <title>SiwBook - Registrazione conclusa</title>
    <link rel="stylesheet" href="/css/stile.css" />
    <meta http-equiv="refresh" content="3; URL='/'" />
</head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
        <div th:unless="${user}">
            <a href="/login">Login</a>
        </div>
    </header>

    <div>
        <a href="/"><img src="/images/logo-siw.png" width="20%"/></a>
    </div>
    <h1>Congratulazioni, ti sei registrato!</h1>
    <div>
        <span>Nome: </span>
        <span th:text="${user.name}"></span>
    </div>
    <div>
        <span>Cognome: </span>
        <span th:text="${user.surname}"></span>
    </div>
    <div>
        <span>Email: </span>
        <span th:text="${user.email}"></span>
    </div>
</body>
</html>
