<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione Completata</title>
    <link rel="stylesheet" type="text/css" href="/css/stile.css"> <!-- Include il tuo CSS -->
</head>
<body>
<div class="logo-container">
    <img src="/images/logo-siw.png" class="logo" />
</div>
    <h3>Registrazione Completata</h3>
    <p th:text="${message}" style="color: green;"></p>
    <a href="/" th:href="@{/}">Torna alla Home</a>
    <a href="/login" th:href="@{/login}">Accedi</a>
</body>
</html>
