<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${team.name} + ' - Dettagli'">Dettagli Team</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <h1 th:text="${team.name}">Nome del Team</h1>
    <p>Anno di Fondazione: <span th:text="${team.foundationYear}">Anno di Fondazione</span></p>
    <p>Indirizzo: <span th:text="${team.address}">Indirizzo</span></p>
    <p>ID Presidente: <span th:text="${team.president.id}">ID Presidente</span></p>
    <a th:href="@{/teams}">Torna alla lista delle squadre</a>
</body>
</html>
