<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
</head>
<body>
    <h1>Teams</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Foundation Year</th>
                <th>Address</th>
                <th>President ID</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="team : ${teams}">
                <td th:text="${team.id}">ID</td>
                <td th:text="${team.name}">Name</td>
                <td th:text="${team.foundationYear}">Foundation Year</td>
                <td th:text="${team.address}">Address</td>
                <td th:text="${team.president.id}">President ID</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
